/* Apply basic styles to the body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  /* Set background image to cover entire body */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Style the header section */
header {
    background-color: #ff6f61;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Style the main content */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.75);
}

/* Style the section containing the description and RSVP form */
section {
    margin-bottom: 30px;
}

/* Style headings */
h1, h2 {
    margin-top: 0;
}

/* Style the RSVP form */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style form labels */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Style form inputs and select */
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style submit button */
button[type="submit"] {
    background-color: #ff6f61;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #e05143;
}

/* Style confirmation message */
#confirmationMessage {
    display: none;
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
