/* Body background color */
body {
    background-color: #f0f0f0; /* Light gray background */
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Container for the form */
.container {
    background-color: white; /* White background */
    width: 300px; /* Set width */
    padding: 20px; /* Add padding */
    margin: 0 auto; /* Center align */
    text-align: center; /* Center align text */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
}

/* Heading style */
.heading {
    color: #471869; /* Purple color */
}

/* Description style */
.description {
    text-align: left;
    margin-bottom: 30px;
}

/* Form Styles */
.registration-form {
    display: flex;
    flex-direction: column;
}

.registration-form input {
    width: 100%; /* Full width */
    padding: 10px; /* Add padding */
    margin: 10px 0; /* Add margin */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Rounded corners */
    box-sizing: border-box; /* Include padding in width */
}

/* Input field hover effect */
.registration-form input:focus::placeholder {
    color: #ccc; /* Hide placeholder on hover */
}

.registration-form button {
    padding: 10px;
    background-color: #471869; /* Button color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.registration-form button:hover {
    background-color: #5f2673; /* Darker button color on hover */
}

.featured-img {
    display: inline-block; /* Make the image behave like an inline element */
    margin: 0 auto; /* Center the image horizontally */
    border-radius: 50%; /* Making image rounded */
    border: 3px solid #471869; /* Applying a 3px border with the specified color */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Adding soft shadow */
    width: 150px; /* Adjusting width of the image */
}